body{
    background-color: pink;
}
.title{
    text-align: center;
}
.text h3{
    display:flex;
    justify-content: center;
    align-items: center;  
}
.text{
    margin-left: 12px;
}
.photo img{
    height: 200px;
    width: 200px;
    margin-left: 70px;
    border-radius:20px;
    padding-bottom:10px;
}
.music audio{
    width: 345px;
}
.video video{
    height:230px;
    width: 345px;
} 